@font-face {
    font-family: bokor-regular;
    src: url(fonts/Bokor-Regular.ttf) format(truetype);
}

#my-skills{
    object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: fill;
    background-position: center;
  }
  
  #web-logo {
    padding-left: 5%;
    font-family: "Bokor-Regular";
    font-size: 50px;
    color: white;
    cursor: wait;
    letter-spacing: 3px;
  }
  
  #skills {
    color: red;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
  }
  
  .navigation {
    height: 25px;
    padding-right: 5px;
  }
  
  ul {
    display: flex;
    padding-right: 2%;
    font-weight: bold;
    font-family: cursive;
  }
  
  ul a:hover {
    color: white;
  }
  
  li {
    padding: 10px 10px;
    list-style: none;
  }
  
  ul li a {
    color: red;
    text-decoration: none;
    display: flex;
  align-items: center;
  }